<header class="page-header as-background page-header as-background hero--l-small mb30 vertical-centered" >
  <div class="page-header-inner-bottom">
    <h1 class="collection-page-header-title page-header-title-sm ">{{ 'customer.register.title' | t }}</h1>
  </div>
</header>
  {% include 'breadcrumb' breadcrumb_class:"page-header-breadcrumb" %}
<div class="main-content-inner account-page container">
  <div class="row">
    <div class="col-md-4 centered-content">
      {% form 'create_customer' %}
        {% include 'form-errors-custom' %}
         <label class="fields_label" for="FirstName">{{ 'customer.register.first_name' | t }}</label>
        <input name="customer[first_name]" id="FirstName" class="login-input" type="text" autofocus >
        
        <label class="fields_label" for="LastName">{{ 'customer.register.last_name' | t }}</label>
        <input name="customer[last_name]" id="LastName" class="login-input" type="text">
      
        <label class="fields_label" for="PhoneNum">{{ 'customer.addresses.phone' | t }}</label>
        <input type="tel" id="PhoneNum" class="login-input" name="customer[phone]" placeholder="555-555-1234">
   
        {%comment%}
        <label class="fields_label" for="ChooseCollection">Choose Collection</label>
        <select name="customer[note][Collection]" id="ChooseCollection" class="login-input">
          <option value="" selected>Choose Collection</option>
          {% for collection in collections %}{%if collection.title != 'Home page' %}
          <option value="{{collection.url}}">{{collection.title}}</option>
          {% endif %}{% endfor %}
        </select>
        {%endcomment%}
      
        {% include 'state-city-school' %}
      
        {%comment%}
        {% assign values = settings.all_schools | strip_newlines | replace: '  ',' ' | replace: ' |','|' | replace: '| ','|' | split: '|' %}

        <label class="fields_label" for="states">Select States</label> 
        {%- capture states -%}{%- for coption in values -%}{%- assign option = coption | split: '_' -%}{{option[0]}}{%- if forloop.last -%}{%- else -%}~{%- endif -%}{%- endfor -%}{%- endcapture -%}
        {%- assign states1 = states | split: '~' -%}{%- assign states2 = states1 | uniq | join: '~' | split: '~' -%}

        <select id="states" name="states">{%- for state in states2 -%}
          <option value="{{state | strip}}">{{state | strip}}</option>{%- endfor -%}
        </select>
        
        {%- capture cities -%}{%- for coption in values -%}{%- assign option = coption | split: '_' -%}{{option[0]}} | {{option[1]}}{%- if forloop.last -%}{%- else -%}~{%- endif -%}{%- endfor -%}{%- endcapture -%}
        {%- assign cities1 = cities | split: '~' -%}{%- assign cities2 = cities1 | uniq | join: '~' | split: '~' -%}
      
        <label class="fields_label" for="city">Select City</label>
        <select id="city" name="city">
          <option data-group="SHOW" value="Select City">Select City</option>{%- for city in cities2 -%}{%- assign state = city | split: ' | ' | first -%}{%- assign citi = city | split: ' | ' | last -%}
          <option data-group="{{state | strip}}" value="{{citi | strip}}">{{citi | strip}}</option>{%- endfor -%}
        </select>

        {%- capture schools -%}{%- for coption in values -%}{%- assign option = coption | split: '_' -%}{{option[1]}} | {{option[2]}}{%- if forloop.last -%}{%- else -%}~{%- endif -%}{%- endfor -%}{%- endcapture -%}
        {%- assign schools1 = schools | split: '~' -%}{%- assign schools2 = schools1 | uniq | join: '~' | split: '~' -%}
      
        <label class="fields_label" for="SelectSchool">Your School</label>
        <select class="login-input" name="customer[note][Your School]" id="SelectSchool" required>
           <option data-group="SHOW" value="Choose Your School">Choose Your School</option>{%- for school in schools2 -%}{%- assign city = school | split: ' | ' | first -%}{%- assign sch = school | split: ' | ' | last -%}
           <option data-group="{{city | strip}}" value="{{sch | strip}} | {{city | strip}}">{{sch | strip}}</option>{%- endfor -%}
        </select>
        {%endcomment%}
      
        <input type="hidden" id="customer_tags" name="customer[tags]" value="Choose Your School"/>
        {%comment%}<input type="hidden" id="urlRedirect" name="checkout_url" value="/collections/all" />{%endcomment%}
        
      	 <label class="fields_label" for="CustomerEmail">{{ 'customer.register.email' | t }}</label>
      	<input type="email" id="CustomerEmail" name="customer[email]" class="login-input" type="email" autocorrect="off" autocapitalize="off">
        
        <label class="fields_label" for="CreatePassword">{{ 'customer.register.password' | t }}</label>
        <input name="customer[password]" id="CreatePassword" class="login-input" type="password">
        <button type="submit" class="btn btn-primary">{{ 'customer.register.title' | t }}</button>
        <p class='mt50'>Have an Account? <a href="/account/login">{{ 'customer.login.title' | t }}</a>
        </p>
      {% endform %}
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    load_json_data('state');
    function load_json_data(id, parent_id) {
      var html_code = '';
      $.getJSON('{{"state-city-school.json" | asset_url}}', function(data){
        html_code += '<option value="">Select '+id+'</option>';
        $.each(data, function(key, value){
          if(id == 'state') {
            if(value.parent_id == '0') {
              html_code += '<option value="'+value.id+'" data-value="'+value.name+'">'+value.name+'</option>';
            }
          } else {
            if(value.parent_id == parent_id) {
              html_code += '<option value="'+value.id+'" data-value="'+value.name+'">'+value.name+'</option>';
            }
          }
        });
        $('#'+id).html(html_code);
      });
    }
    $(document).on('change', '#state', function() {
      var state_id = $(this).val();
      if(state_id != '') {
        load_json_data('city', state_id);
      } else {
        $('#city').html('<option value="">Select city</option>');
        $('#school').html('<option value="">Select school</option>');
      }
    });
    $(document).on('change', '#city', function(){
      var city_id = $(this).val();
      if(city_id != '') {
        load_json_data('school', city_id);
      } else { 
        $('#school').html('<option value="">Select school</option>');
      }
    });
    $('#state, #city').change(function(){ $('#customer_tags').val(''); });
    $('#school').change(function(){
      var state = $('#state').children("option:selected").data('value').replace(', ', ' - ');
      var city = $('#city').children("option:selected").data('value').replace(', ', ' - ');
      var school = $('#school').children("option:selected").data('value').replace(', ', ' - ');
      $('#customer_tags').val('Your School: '+school+' | '+city+' | '+state);
    });
  });
</script>
